<ion-header-bar class="bar-assertive" ng-show="!barSearch">
    <h1 class="title">Alegra-Contactos</h1>
    <div class="buttons">
        <button class="button button-icon" ng-click="sortToggle({{contacts}})">
            <i class="icon ion-android-funnel"></i>
        </button>
        <button class="button button-icon" ng-click="ToggleBar()">
            <i class="icon ion-android-search"></i>
        </button>
    </div>
</ion-header-bar>
<ion-header-bar class="bar-light" ng-show="barSearch">
    <button class="button button-clear" ng-click="ToggleBar()">
        <i class="icon ion-android-arrow-back"></i>
    </button>
    <!-- <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i> -->
        <input type="search" placeholder="Buscar..." ng-model="search" >
    <!-- </label> -->
</ion-header-bar>
<button class="button button-float" data-ng-controller="modal" ng-click="openModal()">
    <i class="icon ion-plus"></i>
</button>
    
<ion-content ng-init="getcontacts()" cache-view="false" overflow-scroll="false" class="top-header" delegate-handle="mainScroll">
    <ion-refresher on-refresh="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <div class="row  responsive-sm" ng-if="loading">
        <div class="col col-center">
            <ion-spinner icon="android"></ion-spinner>
        </div>
    </div>
    <div class="list" ng-show="NotFound">
        <div class="item item-icon-right">
            <h2>No existen contactos Registrados</h2>
            <button  class="button button-icon icon ion-refresh"></button >
        </div>
    </div>

    <div class="list contact" ng-if="!NotFound">
        <user-Contact ng-repeat="contact in contacts | filter:search:strict" name="{{contact.name}}" id="{{contact.id}}"></user-Contact>
    </div>
    <ion-infinite-scroll
        ng-if="moredata"
        on-infinite="loadMore()"
        distance="1%">
  </ion-infinite-scroll>
</ion-content>

